:root {
  font-size: 16px;
  
  /* Set up variable colors */
  --dark-main: #2D3436;
  --grey-main: #636E72;
  --light-grey-main: #DFE6E9;
  --blue-main: #0984E3;
  --light-blue-main: #74B9FF;
  --light-pink-main: #FD79A8;
  --pink-main: #E84393;
  --light-green-main: #55EFC4;
  --green-main: #00B894;
  --light-yellow-main: #FFEAA7;
  --yellow-main: #FDCB6E;

}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout_with_navigation {
  display: inline;
}

.timer_display {
  display: grid;
  grid-template-columns: auto auto;
}
main {
  margin-left: 10rem;
  padding: 1rem;
}